@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

body.carta {
    background-image: url('../img/fondobody.jpg');
    background-size: cover; /* Escala la imagen para cubrir todo el fondo */
    background-repeat: no-repeat; /* Evita la repetición de la imagen */
    background-attachment: fixed; /* Fija la imagen de fondo */
}


body.galeria{
    background-color: black;
}
.fondoindex{
    background-color: #000000;
}

header {
    margin-top: 70px; /* La altura de tu barra de navegación + un valor adicional para separación */
}

nav{
    background-color: black;
}

.navbar-nav .nav-link {
    color: white;
}

.nav-link{
    color: white;
}

.nav-item:hover .nav-link {
    color: red; 
}

.navbar-toggler{
    background-color: red;
}


.navbar-toggler-icon{
    color: red;
}


.carousel-inner .carousel-item img {
    width: 100%;
    max-width: 450px; /* Máximo ancho de las imágenes */
    height: auto; /* Altura automática para mantener la proporción */
    margin-top: 50px; /* Distancia en la parte superior */
    margin-bottom: 47px; /* Distancia en la parte inferior */
}

.carousel-thumbnail .carousel-item img {
    width: 100px; /* Ancho de las miniaturas */
    height: 100px; /* Altura de las miniaturas */
    object-fit: cover; /* Rellena el espacio manteniendo la proporción */
    margin: auto; /* Centra horizontalmente */
}

#fettuccine-image {
    width: 100%;
    height: 100%;
}

.card{
    margin: 0;
    padding: 0;
    border: 0;
}


.card-info svg {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
    background-color: black;
  }


.card-container{
    background-color: black;
    margin: 0;
    padding: 0;
    border: 0;
}

.card-info{
    background-color: black;
}

.card-info p{
    color: white;
    background-color: black;
  }


  .icono-card {
    transition: transform 0.2s ease-in-out;
}

.icono-card:hover {
    transform: scale(1.2); /* Escala el icono al 120% del tamaño original */
}

.galeria{
    margin-top: 9%;
}

.gallery-item {
    text-align: center;
    transition: transform 0.3s ease-in-out; /* Transición suave */
}

.gallery-item:hover {
    transform: scale(1.1); /* Zoom al 110% al pasar el puntero por encima */
}

/* Estilo personalizado para las imágenes en la galería */
.gallery-item img {
    width: 100%;
    height: auto;
    box-shadow: 4px 10px 10px rgb(17, 17, 17); /* Agregar sombra a las imágenes */
    transition: transform 0.2s ease-in-out; /* Agregar transición suave */
}

.special-margin {
    margin-bottom: 20px; /* Margen inferior adicional */
}


footer{
    background-color: black;
}


/* Cambiar el color de los íconos de Facebook e Instagram al pasar el puntero */
.footer a:hover .fab.fa-facebook-f,
.footer a:hover .fab.fa-instagram {
    color: red; /* Cambia el color a rojo */
    transition: color 0.2s ease-in-out; /* Agrega una transición suave */
}







