/*EVENTOS*/

@media (max-width: 576px) {
    .contentevent {
        padding-top: 10%;
        
    }
}

@media (max-width: 768px) {
    .contentevent {
        padding-top: 8%;
        
    }
}

@media (max-width: 991px) {
    .contentevent {
        padding-top: 1%;
        
    }
}