/*FORMULARIO*/

@media (max-width: 576px) {
    .formulario {
        padding-top: 10%;
        padding-bottom: 3%;
    }
}

@media (max-width: 768px) {
    .formulario {
        padding-top: 8%;
        padding-bottom: 2%
    }
}
